@{
    ViewBag.Title = "User Setting";
}

@section Styles
{
    @Styles.Render("~/bundles/UserSettingViewStyles")
}

<div class="container-fluid">
    <div id="divSettingContainer" class="col-sm-12 no-padding-left">
        <div class="col-sm-2 nav-panel panel">
            <ul class="nav nav-pills nav-stacked">
                <li data-bind="click:function(){my.userSettingVm.markAsSelected('MyProfile')}, css:{'active': my.userSettingVm.selectedSetting() == 'MyProfile'}">
                    <a href="#" data-bind="click: function(){ my.notificationSettingVm.closeNotificationSetting(); my.memberDetailsVm.closeGpsUserSetting(); my.addUserVm.openUserProfile(); }"><span>My Profile</span><i class="pull-right fa fa-user" aria-hidden="true"></i></a>
                </li>
                @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Manager"))
                {
                    <li data-bind="click:function(){my.userSettingVm.markAsSelected('ManageUsers')}, css:{'active': my.userSettingVm.selectedSetting() == 'ManageUsers'}">
                        <a href="#" data-bind="click:function(){my.notificationSettingVm.closeNotificationSetting(); my.memberDetailsVm.closeGpsUserSetting(); my.addUserVm.openAllUsersProfile()}, visible: (my.meta.isAdministrator() || my.meta.isManager())">
                            <span>Manage Users</span><i class="pull-right fa fa-users" aria-hidden="true"></i>
                        </a>
                        
                    </li>                      
                }
                
                @if (HttpContext.Current.User.IsInRole("Manager"))
                {
                    <li data-bind="click:function(){my.userSettingVm.markAsSelected('GPSMembers')}, css:{'active': my.userSettingVm.selectedSetting() == 'GPSMembers'}">
                        <a href="#" data-bind="click:function(){ my.addUserVm.closeDialogue();  my.notificationSettingVm.closeNotificationSetting(); my.memberDetailsVm.getMembersUnderLead() , my.memberDetailsVm.getAllDesignation()}, visible:  my.meta.isManager()">
                            <span>GPS User</span><i class="pull-right fa fa-users" aria-hidden="true"></i>
                        </a>

                    </li>
                }  

                @if (!HttpContext.Current.User.IsInRole("Trainee") )
                { 
                    <li data-bind="click:function(){my.userSettingVm.markAsSelected('Notification')}, css:{'active': my.userSettingVm.selectedSetting() == 'Notification'}">
                        <a href="#" data-bind="click: function(){ my.addUserVm.closeDialogue(); my.notificationSettingVm.openNotificationSetting(); my.memberDetailsVm.closeGpsUserSetting();}"><span>Email Preferences </span><i class="pull-right fa fa-envelope" aria-hidden="true"></i></a>
                    </li>
                }       
            </ul>
        </div>
        <div class="col-sm-9 content-div panel">
            @Html.Partial("_ProfileSetting")
            @if (!HttpContext.Current.User.IsInRole("Trainee"))
            {
                @Html.Partial("_NotificationSetting")
            }
            @if (HttpContext.Current.User.IsInRole("Manager"))
            {
                @Html.Partial("_UsersUnderLead")
            }
        </div>
    </div>
</div>


@section Scripts
{

    @Scripts.Render("~/bundles/UserSettingViewScripts")
}
