<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link id="linkRootUrl" href="~/" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/LayoutViewStyles")
    @RenderSection("Styles", false)
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
    <div id="loaderWrapper" data-bind="visible:true">
        <div class='uil-ripple-css' style='transform:scale(0.99);'>
            <div></div><div></div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          
            <div class="col-md-8 no-margin-left no-padding-left">
              <ul class="nav navbar-nav" id="navPages">
                    <li class="menu-li">
                        <a class="" href="~/Dashboard">
                            <label>TRAINING TRACKER</label>
                        </a>
                    </li>
                    @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Manager") || HttpContext.Current.User.IsInRole("Trainer"))
                    {
                        <li class="menu-li separator">
                            <a href="~/Dashboard">
                                <label>Dashboard</label>
                            </a>
                        </li>

                        <li class="dropdown menu-li separator">
                            <a href="#">
                                <label style="">Profiles</label> 
                                <span class="glyphicon glyphicon-chevron-down" ></span> 
                            </a>                           
                            <ul class="dropdown-menu dropdown-menu-pop-over-list">
                                
                                <li class="dropdown menu-li"><a href="#">Trainee<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-pop-over-list" data-bind="foreach: my.meta.allTrainee">
                                        <li class="menu-li">
                                            <a data-bind="attr: { href: my.rootUrl + '/Profile/UserProfile?userId=' + UserId }">
                                                @*<img class="img-responsive img-rounded menu-img" data-bind="attr: { 'src': my.rootUrl + '/Uploads/ProfilePicture/' + ProfilePictureName }" />*@
                                                <span data-bind="text: FirstName + ' ' + LastName  "></span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown menu-li"><a href="#">Mentors<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-pop-over-list" data-bind="foreach: my.meta.allMentor">
                                        <li class="menu-li">
                                            <a data-bind="attr: { href: my.rootUrl + '/Profile/UserProfile?userId=' + UserId }"> 
                                                @*<img class="img-responsive img-rounded menu-img" data-bind="attr: { 'src': my.rootUrl + '/Uploads/ProfilePicture/' + ProfilePictureName }" />*@
                                                <span data-bind="text: FirstName + ' ' + LastName  "></span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="menu-li">
                                    <a href="~/Profile/AllProfiles">
                                        All Profiles
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="menu-li separator"><a data-bind="attr: { href: my.meta.userProfileUrl }"><label style="height:30px;">My Profile</label></a></li>
                       @* <li class="menu-li"><a href="~/Session"><img style="visibility: hidden"/><label  style="height:30px;">Sessions</label></a></li>*@
                    }
                                               
                  <li class="dropdown menu-li separator">
                      <a href="#">
                          <label>Learning</label> 
                          <span class="glyphicon glyphicon-chevron-down" ></span>
                      </a>                           
                           
                      <ul class="dropdown-menu dropdown-menu-pop-over-list">
                          <li class="menu-li">
                              <a href="~/Session">
                                  Sessions
                              </a>
                          </li>
                          <li  class="menu-li">
                              <a href="~/LearningPath/Courses">
                                  Courses
                              </a>
                          </li>    
                          @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Manager") || HttpContext.Current.User.IsInRole("Trainer"))
                          {
                              <li  class="menu-li">
                                  <a href="~/LearningMap/LearningMap">Learning Map</a>
                              </li>
                          }                    
                      </ul>
                  </li>
               @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Manager") || HttpContext.Current.User.IsInRole("Trainer"))
               {
                   <li class="menu-li">
                       <a href="~/Questions">
                           <label style="">Questions</label>
                       </a>
                   </li>
               }
                </ul> 
            </div>
            <div class="col-md-4 no-margin-right no-padding-right" >                          
                <ul class="nav navbar-nav navbar-right">
                     <li id="notification_li ">                              
                         <span id="notification_count" data-bind="text: my.meta.noOfNotification, visible: my.meta.notifications().length > 0" style="display: none;">0</span>
                         <a href="#" id="notificationLink">
                              <span class="" id="notification-icon">
                                        <i class="fa fa-bell" style="font-size: 20px;margin-top: 3px;"></i>
                              </span>
                         </a>                                  
                                <div id="notificationContainer" class="col-xs-3 no-padding-left no-padding-right">
                                    <div id="notificationTitle">
                                        <span class="">Notifications</span>
                                        <span class="pull-right" data-bind="click: function () { my.meta.markAllNotificationAsRead(); }">
                                             <a href="#" >Mark All as Read</a>
                                        </span>
                                    </div>
                         <div id="notificationsBody" >
                             <ul>
                                 <li data-bind="visible: my.meta.notifications().length == 0">
                                     <a href="#" style="padding:0; display:block;" >
                                         <div>
                                             <div class="col-xs-2 image" style="margin: 0;">
                                                 <img src="~/Uploads/ProfilePicture/system_notification.jpg" class="avatar" style="height: 60px;margin: 0;display: block;width: 60px;padding: 0;"  />
                                             </div>
                                             <div class="col-xs-10" style="margin: 0">
                                                 <p id="notificationDetail" style="margin:0 !important;">
                                                     <span style="color:royalblue" class="font-weight-bold display-block" >No New Notification.</span>
                                                     <span class="font-weight-bold display-block" >No unseen notification.</span>                            
                                                 </p>
                                             </div>
                                         </div>
                                     </a> 
                                 </li>
                                 <!-- ko foreach: my.meta.notifications.slice(0).reverse() -->
                                 <li class="menu-li list-style" style="    width: 100%;" data-bind="visible: my.meta.notifications().length > 0, click: function () { my.meta.updateNotification(NotificationId, TypeOfNotification, my.rootUrl + Link); }">
                                     <a style="padding:0; display:block;" data-bind="attr: { href: my.rootUrl + Link, title: Description }">
                                         <div>
                                                        <div class="col-xs-2 image" style="margin: 0;">
                                                            <img class="avatar" style="height: 60px;margin: 0;display: block;width: 60px;padding: 0;" data-bind="attr: { src: my.rootUrl + '/Uploads/ProfilePicture/' + ProfilePictureName }" />
                                                        </div>
                                                        <div class="col-xs-10" style="margin: 0">
                                                            <p id="notificationDetail" style="margin:0 !important;">
                                                                <span style="color:royalblue" class="font-weight-bold display-block" data-bind="text: Title"></span>
                                                                <span class="font-weight-bold display-block" data-bind="text: AddedBy, visible: TypeOfNotification != 1 "></span>
                                                                <span data-bind="text: moment.duration(moment(new Date()).diff(moment(AddedOn))).humanize() + ' ago'" style="font-size:13px;"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                     </a>
                                 </li>
                                 <!-- /ko -->
                             </ul>
                         </div>
                                    
                                </div>
                            </li>               
                    <li id="profileNavigation" class="dropdown menu-li">
                        <a href="#">                         
                            <span>
                                 <img id="avatar" class="navbar-left img-responsive img-circle navImage">
                                 <label class="text font-bold"></label>
                            </span>   
                                 <span class="glyphicon glyphicon-chevron-down"></span>                     
                        </a>
                        <ul class="dropdown-menu dropdown-menu-pop-over-list">
                            <li class="menu-li">
                                <a href="#" data-bind="click: my.addUserVm.openUserProfile" type="button" class="">
                                    <span>My Profile</span>
                                </a>
                            </li>
                             @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Manager"))
                             {
                                 <li class="menu-li">
                                      <a href="#" data-bind="click: my.addUserVm.openAllUsersProfile, visible: (my.meta.isAdministrator() || my.meta.isManager())" type="button" class="">
                                         <span>Manage User</span>
                                     </a>
                                 </li>
                             }
                            <li class="menu-li hr-separator">
                               <a href="~/Release" class=" ">
                                     <span>Bugs & Features</span>
                                 </a>
                            </li>
                             <li class="menu-li danger hr-separator">
                                <a href="~/Login/SignOut" class="  ">
                                    <span> Sign out</span>
                                </a> 
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>         
                  
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid no-padding-left no-padding-right" style="display:none;" data-bind="visible:true">
            <div>
                @RenderBody()
            </div>
            <div>
                @Html.Partial("_PartialProfile")
            </div>
        </div>
    </div>
    <!--common js file-->
    @Scripts.Render("~/bundles/LayoutViewScripts")
    @RenderSection("Scripts", false)
</body>
</html>
